body{
	margin: 0px;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
}
html{
	font-size: 62.2%;
	scroll-behavior: smooth;
}
h3{
	margin: 0;
	color: #1867AC;
}
h2{
	margin: 0;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #D6AA2A;
}
a {
	text-decoration: none;
	color: #FFFFFF;
}
.goldcolor{
	color: #D6AA2A;
}
.bgtest{
	background-image: url(img/tst.png);
	background-size: cover;
	background-attachment: flex;
	color: #FFFFFF;
}
.bg1{
	background-color: #222122;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%239D9D9D' stroke-width='0.2' stroke-opacity='0' %3E%3Ccircle fill='%23222122' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23201f20' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231e1d1e' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231c1b1c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231a191a' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23181718' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23161516' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23141314' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23121112' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23101010' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230e0e0e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230c0c0c' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230a0a0a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23080808' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23060606' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23040404' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23020202' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;
}
.bg2{
	background-color: #17152F;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23121126' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%230e0d1c' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23090813' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23050409' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color: #FFFFFF;
}
.section{
	margin: 0 auto;
	padding: 45px 195px;
}
.sectioncont{
	max-height: 300px;
	margin: 0 auto;
	padding: 45px 120px;
}
.sobre{
	margin: 0 auto;
	margin-left: 80px;
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 30px;
	min-height: 63vh;
	align-items: center;

}
.sobre-text{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: left;
	padding: 0;

}
.img{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-left: 30px;
	padding-right: 0;
	padding-left: 30px;
	width: 300px;
	height: 300px;

}
.text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;	
}
.itens{
	margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 45px;
}
.iten1{
	margin-top: 20px;
}
.contato{
	margin: 0 auto;
	min-height: 37vh;
	text-align: center;
	align-items: center;
}
.contato h3{
	color: #1867AC;
}
.itencontato{
	display: grid;
}
.itencontato img{
	margin-right: 7px;
}
.itencontato1{
	margin-top: 35px;
	margin-bottom: 45px;
}
@media (max-width: 940px){
	.sobre{
		margin-left: 0;
		gap: 0;
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
		padding: 0;

	}
	.sobre-text{
		text-align: center;
	}
	.img{
		padding: 0;
		margin: 0;
		margin-bottom: 30px;
		display: flex;
	}
}

@media (max-width: 850px){
	.itens{
		margin-bottom: 10px;
		margin-left: 30px;
		margin-right: 27px;
	}
	.section{
		padding: 35px 35px;
	}
	.sectioncont{
		padding: 35px;
	}
}


@media (max-width: 500px){
	.sobre img{
		height: 200px;
		width: 200px;
		padding-left: 0;
		margin-right: 0;
		padding-right: 0;
	}
	.img{
		flex-flow: nowrap;
		width: 200px;
		height: 200px;
	}

	.itencontato p{
		font-size: 15px;
	}
	

}
.back-top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}
