body{
	margin: 0px;
	font-family: 'Mulish', sans-serif;
	font-size: 21px;
}
html{
	font-size: 62.2%;
	scroll-behavior: smooth;
}
h3{
	margin: 0;
}
h2{
	margin: 0;
	text-transform: uppercase;
}
.bg1{
	background-color: #222122;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%239D9D9D' stroke-width='0.2' stroke-opacity='0' %3E%3Ccircle fill='%23222122' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23201f20' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%231e1d1e' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%231c1b1c' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%231a191a' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23181718' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23161516' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23141314' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23121112' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23101010' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230e0e0e' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%230c0c0c' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%230a0a0a' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23080808' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23060606' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23040404' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23020202' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23000000' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	color: #D6AA2A;
}
.section{
	min-height: 500px;
	margin: 0 auto;
	padding: 45px 120px;
}
.sobre{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 0.5fr 1.5fr;
	gap: 30px;
	min-height: 63vh;

}
.sobre-text{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	text-align: left;
	padding: 0;

}
.img{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-left: 30px;
	padding-right: 0;
	padding-left: 30px;

}